.gradient_navbar {
  background: linear-gradient(
    18deg,
    rgba(255, 188, 188, 1) 0%,
    rgba(233, 233, 148, 1) 100%
  );
}
.navbar_links {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  color: rgb(0, 0, 0);
}
.table_container {
  display: flex;
  justify-content: center;
}
.pilates_table_style {
  margin: 20px;
}
.yoga_table_style {
  margin: 20px;
}
