.gradient_navbar {
  background: linear-gradient(
    18deg,
    rgba(255, 188, 188, 1) 0%,
    rgba(233, 233, 148, 1) 100%
  );
}
.navbar_links {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  color: rgb(0, 0, 0);
}
.table_container {
  display: flex;
  justify-content: center;
}
.graph_container {
  display: flex;
  justify-content: center;
}
.pilates_table_style {
  margin: 20px;
}
.yoga_table_style {
  margin: 20px;
}
.dashboard_heading {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.04em;
  padding: 1rem;
}

.dashboard_description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 10px;

  color: rgb(0, 0, 0);
  padding: 1rem;
}
