.gpt3__whatgpt3 {
  display: flex;
  flex-direction: column;
  border-radius: 30px;

  padding: 2rem;
  background: var(--color-footer);

  background: rgb(255, 188, 188);
  background: linear-gradient(
    18deg,
    rgb(253, 150, 150) 30%,
    rgb(252, 252, 136) 70%
  );
}

.gpt3__whatgpt3-feature {
  display: flex;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  margin: 0;
}

.gpt3__whatgpt3-feature .gpt3__features-container__feature-title h1 {
  color: black;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
  max-width: 700px;
}

.gpt3__whatgpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 4rem 0 2rem;
}

.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.gpt3__whatgpt3-heading p {
  font-family: var(--font-family);
  text-align: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-style: solid;
  border-radius: 15px;
  padding: 1rem;

}

.gpt3__whatgpt3-heading :hover {
  color: rgb(202, 48, 97);
  transition: all 0.1s ease-in-out;
}

.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 2rem;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .gpt3__whatgpt3-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .gpt3__whatgpt3-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 370px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }

  .gpt3__whatgpt3-heading p {
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    padding: 1rem;
  
  }

}
