.yoga_table_wrap {
    height: 250px;
    width:550px;
    overflow-y: auto;
    border: 0.5px solid black;
  }
  .yoga_table_body {
    
    text-align: center;
  }
.yoga_table_header{
    position: sticky; 
    top: 0px;
    text-align: center;
}