@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap');


:root {
  --font-family: 'Manrope', sans-serif;
  /* --font-family: 'Fredoka', sans-serif; */
  /* --font-family: 'Red Hat Display', sans-serif; */


  --gradient-text: linear-gradient(89.97deg, #000000 1.84%, #000000 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ffb770 -13.86%, #ff6060 99.55%);
  
  --color-bg: #ffffff;
  --color-footer : #000000;
  --color-text: #484848;
  --color-subtext: #000000;
}