.SecNavBar .gradient_navbar{
  background: rgb(255,188,188);
  background: linear-gradient(18deg, rgb(253, 150, 150) 19%, rgb(248, 248, 115) 81%);
 
}
.SecNavBar .navbar_links {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
  }
  .SecNavBar .navbar_brand_img {
    width: 120px;
    height: 60px;
}
  @media screen and (max-width: 1024px) {
    .SecNavBar .navbar_links {
    font-size: 19px;
    }
  }

  @media screen and (max-width: 768px) {
    .SecNavBar .current_user {
      margin-bottom: 10px;
    }
  }